.Usuario-list {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Usuario-list ul {
    list-style-type: none;
    padding: 0;
}

.Usuario-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.Usuario-list li:last-child {
    border-bottom: none;
}